@use "variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 82.5%;
  color: var(--text);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  border: none;
  background-color: transparent;
}